*{
    margin: 0;
    padding: 0;
}
body{

    overflow-x: hidden; 
    cursor: context-menu;
    background: black;
    color: white;
    font-family:'Comfortaa', cursive;
    transition: 0.5s;

}
::-webkit-scrollbar{

    width: 3px;
    
}
::-webkit-scrollbar-thumb{
    
    border-radius: 10px;
    background: linear-gradient(#00fff0, #00fcb0, #00fc15);
    
}
::-webkit-scrollbar-thumb:hover{
    
    background: transparent;

    
}
::-webkit-scrollbar-track{

    
}
.webentwicklung{

    position: absolute;
    color: black;
    font-size: 40px;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: -webkit-linear-gradient(250deg, #00fff0, #00fca8, #00fc15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
.webentwicklungText{

    position: absolute;
    color: rgb(126, 126, 126);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    line-height: 25px;


}
.arrowKreis{

    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    
}
.arrowKreis:hover{

    background: rgba(255, 255, 255, 0.116);
}
.arrow{

    position: absolute;
    width: 17px;
    height: 17px;
    border-right: 1px solid white ;
    border-bottom: 1px solid white ;
    transform: rotate(45deg);
    top: 23%;
    left: 33%;
    transition: 0.2s;
    
}
.arrowAni{

    top: 35%;
}
#kreisRunter{

    position: absolute;
    top: 100%;
    width: 1px;
    height: 1px;
}
.menu{

    position: fixed;
    width: 6em;
    height: 6em;
    right: 2em;
    top: 1em;
    transition: 0.2s;
    cursor: pointer;

}
.menu:hover{

    border: 1px solid white;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    top: 2em;
    right: 3em;
}
.menuChange:hover{

    border: 1px solid black;
    
}
.strich1{

    position: fixed;
    background: white;
    width: 30px;
    height: 1px;
    top: 4.2em;
    right: 4em;
    transition: 0.5s;
}
.strich1Change{

    background: black;
}
.strich2{

    position: fixed;
    background: white;
    width: 45px;
    height: 1.5px;
    top: 4.5em;
    right: 4em;
    transition: 0.5s;
}
.strich2Change{

    background: black;
}
.menuAni{

    position: fixed;
    width: 50%;
    height: 0%;
    background: black;
    transition: 1s;
    top: -100%;
    left: 0;
}
.menuAniG{

    height: 200%;
}
.menuAni2{

    position: fixed;
    width: 50%;
    height: 0%;
    background: linear-gradient(225deg, #00FFF0, #00fc4c ,#00fc15);
    transition: 1s;
    right: 0;
    bottom: -100%;
}
.menuAni2G{

    height: 200%;
  
    
}
.strich1Ani{

    transform: rotate(45deg);
    top: 4.3em;
    right: 4.35em;
    height: 1.5px;
}
.strich2Ani{

    transform: rotate(135deg);
    width: 30px;
    top: 4.3em;
    right: 4.35em;
    height: 1.5px;
}
.menuItems{

    position:absolute;
    width: 50%;
    height: 80%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 105%;
    text-decoration: none;
    list-style: none;
    font-weight: bold ;
    
}
.menuItems li{

    padding: 20px;
    
}
.menuItems li a{

    text-decoration: none;
    color: white;
    
}
.menuItems li a:hover{

    background: -webkit-linear-gradient(225deg, #00fff0, #00fca8, #00fc15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.start a{

    background: -webkit-linear-gradient(225deg, #00fff0, #00ebfc, #00fc15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.img1 img{

    position: absolute;
    width: 500px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    opacity: 0;
    
}
.img1Ani img{


    opacity: 1;
    top: 20%;
}
.img2 img{

    position: absolute;
    width: 500px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    opacity: 0;
    
}
.img2Ani img{


    opacity: 1;
    top: 20%;
}
.img3 img{

    position: absolute;
    width: 500px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    opacity: 0;
    
}
.img3Ani img{


    opacity: 1;
    top: 20%;
}
.img4 img{

    position: absolute;
    width: 600px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    opacity: 0;
    
}
.img4Ani img{


    opacity: 1;
    top: 20%;
}
.menuMiddle1{

    position: absolute;
    top: 53%;
    right: 0;
    font-size: 40px;
    background: -webkit-linear-gradient(225deg, #00fff0, #00fc93, #00fc15);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.menuMiddle2{

    position: absolute;
    top: 3%;
    left: 0;
    font-size: 40px;
    color: black;

}
.menuInner{

    position: absolute;
    width: 90%;
    height: 40%;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.5s;
}
.menuInnerAni{

    opacity: 0;
}
.deko1{

    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 2px;
    background: black;
}
.deko2{

    position: absolute;
    top: 44.6%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 1.5px;
    background: black;
    transform: rotate(178deg);
}
.interesse{

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    width: 400px;


}
.schreiben{

    position: absolute;
    top: 40%;
    left: 57.5%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 27px;
    width: 600px


}
.telIcon2{

    position: absolute;
    top: 54.5%;
    left: 16%;
    color: black;
    font-size: 20px;
}
.telefonImp2{

    position: absolute;
    top: 55%;
    left: 20%;
    color: black;
    font-weight: bold;
}
.mailImp2{

    position: absolute;
    top: 55%;
    right: 17%;
    color: black;
    font-weight: bold;
}
.mailIcon2{

    position: absolute;
    top: 54.7%;
    right: 43%;
    color: black;
    font-size: 20px;
}
.insta2{

    position: absolute;
    top: 70%;
    left: 25%;
    color: black;
    font-size: 30px;
}
.twitter2{

    position: absolute;
    top: 70%;
    left: 50%;
    color: black;
    font-size: 30px;
}
.linked2{

    position: absolute;
    top: 70%;
    left: 75%;
    color: black;
    font-size: 30px;
}
.loader{

    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
}
.logoLoader{

    position: absolute;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.logo img{

    position: absolute;
    top: 4.7%;
    left: 5.8%;
    width: 130px;

    

    

}
.logo2{

    position: absolute;
    top: 6.5%;
    left: 11.8%;
    font-family: 'Poiret One', cursive;
    font-size: 35px;
    transition: 1s;
}
.logoBild img{

    position: fixed;
    width: 70px;
    top: 5%;
    left: 2.5%;
}
.monitor img{

    position: absolute;
    width: 1200px;
    height: 400px;
    top: 20%;
    right: -15%;
    transform: rotate3d(0, 4, 1, 60deg);




}
.spruch{

    position: absolute;
    font-size: 60px;
    font-family:'Comfortaa', cursive;
    top: 5em;
    left: 2.5em;
    
}
.spruch2{

    position: absolute;
    font-size: 60px;
    font-family: 'Comfortaa', cursive;
    top: 6.3em;
    left: 3.5em;
}
.wunsch{

    position: absolute;
    font-size: 60px;
    font-family:'Comfortaa', cursive;
    top: 6.3em;
    left: 9.6em;
    background: -webkit-linear-gradient(#00fff0, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.spruchOben{

    position: absolute;
    font-size: 20px;
    font-family:'Comfortaa', cursive;
    top: 13em;
    left: 7.7em;
    background: -webkit-linear-gradient(#00fff0, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.erstellen a{

    position: absolute;
    width: 220px;
    height: 40px;
    background:-webkit-linear-gradient(transparent 50%, #00FFF0 50%);
    background-size:200px 160px;
    border-bottom: 1px solid #00FFF0;
    top: 62%;
    left: 20%;
    font-size: 20px;
    text-align: center;
    line-height: 2;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.erstellen a:hover{

    color: black;
    background-position: 0 -80px;
}
.white{

    position: absolute;
    width: 80%;
    height: 50%;
    background: linear-gradient(#00fff0, #00fc15);
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);


}
.important{

    position: fixed;
    width: 55px;
    height: 55px;
    background: linear-gradient(#00fff0, #00fc15);
    border-radius: 50%;
    bottom: 10%;
    right: 0;
    transition: 0.5s;
}
.importantAni{

    width: 230px;
    height: 180px;
    border-radius: 10px;
    
}
.mail{

    position: absolute;
    font-size: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s
}
.mailAni{

    display: none;
}
.importantText{

    position: absolute;
    width: 200px;
    height: 160px;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family:'Comfortaa', cursive;
}
.importantTextAni{

    display: block
}
.telefonImp{

    position: absolute;
    top: 24%;
    left: 17%;
    font-weight: bold;

}
.telIcon{

    position: absolute;
    font-size: 20px;
    top: 22%;
}
.mailImp{

    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;

}
.mailIcon{

    position: absolute;
    font-size: 20px;
    top: 0
}
.nachricht a{

    position: absolute;
    top: 47%;
    color: white;
    text-decoration: none;
}
.insta{

    position: absolute;
    font-size: 22px;
    bottom: 0;
    left: 25%;
}
.twitter{

    position: absolute;
    font-size: 22px;
    bottom: 0;
    left: 50%;
}
.linked{

    position: absolute;
    font-size: 22px;
    bottom: 0;
    left: 75%;
}
.mac img{

    position: absolute;
    width: 800px;
    height: 500px;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    transition: 2s;


}
.iphone img{

    position: absolute;
    left: 50%;
    top: 305%;
    transform: translate(-50%, -50%);
    width: 130px;


}
@media only screen and (max-width:500px){

    .monitor img{

        width: 700px;
        height: 300px;
        left: 20%;
        top: 25%;
        overflow: hidden;
    }
    .logo img{

        display: none;
    }
    .logo2{

        display: none;
    }
    .erstellen a{

        left: 10%;
        top: 60%;
        font-size: 18px;
    }
    .spruch{

        left: 10%;
        top: 40%;
        font-size: 30px;
        
    }
    .spruch2{
    
        font-size: 30px;
        left: 15%;
        top: 47%;
    }
    .wunsch{
    
        font-size: 30px;
        left: 51.5%;
        top: 47%;
    }
    .spruchOben{
    
        font-size: 16px;
        left: 10%;
        top: 36%;
    }
    .logoBild img{

        position: fixed;
        width: 60px;
        top: 5%;
        left: 5%;
    }





}
